## Fake or Real News Kaggle Challenge

- www.kaggle.com/c/fake-news/data

In [36]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split#
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB

In [12]:
df = pd.read_csv("data\\fake_or_real_news.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
Unnamed: 0    6335 non-null int64
title         6335 non-null object
text          6335 non-null object
label         6335 non-null object
dtypes: int64(1), object(3)
memory usage: 198.0+ KB

In [14]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

### CountVectorizer

In [16]:
# create labels
y = df.label.values

# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(df.text,y,test_size=0.33,random_state=53)

count_vectorizer = CountVectorizer(stop_words='english')

#transform train 
count_train = count_vectorizer.fit_transform(X_train.values)

#transform test
count_test = count_vectorizer.transform(X_test.values)

print(count_vectorizer.get_feature_names()[:10])

['00', '000', '0000', '00000031', '000035', '00006', '0001', '0001pt', '000ft', '000km']

### TFidVectorizer

Try tfid vectorizer

In [20]:
# tfidf_vectorizer, filter out some 
tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_df=0.7)

In [25]:
# Transform train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train.values)

# Transform test
tfidf_test = tfidf_vectorizer.transform(X_test.values)

# Print the first 10 features
print(tfidf_vectorizer.get_feature_names()[:10])

# Print first 2 vectors
print(tfidf_train[:2])

['00', '000', '0000', '00000031', '000035', '00006', '0001', '0001pt', '000ft', '000km']
  (1, 42470)	0.07711040274149526
  (1, 12105)	0.15008066461476866
  (1, 54177)	0.13782629144711137
  (1, 50628)	0.061296988343109586
  (1, 15924)	0.3479045460649079
  (1, 44520)	0.4973826512693341
  (1, 51896)	0.11596517664605868
  (1, 35783)	0.30902690818827977
  (1, 35256)	0.12628385718450857
  (1, 21881)	0.21271688045815978
  (1, 42534)	0.06081715886809217
  (1, 8399)	0.08729542880625335
  (1, 29531)	0.1454406205718245
  (1, 15927)	0.4973826512693341
  (1, 25686)	0.13550453594288983
  (1, 49203)	0.1672740861784377
  (1, 16814)	0.10404977746548139
  (1, 36087)	0.12648679854389897
  (1, 21568)	0.1007920919566398
  (1, 25684)	0.1030420922189754
  (1, 38823)	0.06048803110658644
  (1, 47506)	0.14539060877460044
  (1, 36831)	0.10772488937433067

Want to look at these vectors

In [26]:
# create a CountVectorizer DataFrame
#count_train is a sparse vector - access values using A
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

In [27]:
count_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# create the TfidfVectorizer DataFrame
tfidf_df = pd.DataFrame(tfidf_train.A,columns=tfidf_vectorizer.get_feature_names())

In [32]:
tfidf_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
#are the columns the same - looks like they are
diff = set(count_df.columns) - set(tfidf_df.columns)
print(diff)

set()

In [34]:
#columns are the same but what about the contents
print(count_df.equals(tfidf_df))

False

In [35]:
count_train

<4244x56922 sparse matrix of type '<class 'numpy.int64'>'
	with 1119820 stored elements in Compressed Sparse Row format>

## Baseline Model

Try a baseline model on countvect and tfidf vect

In [38]:
# naive bayes
nb_classifier = MultinomialNB()
#fit
nb_classifier.fit(count_train,y_train)
#predict
pred = nb_classifier.predict(count_test)

# accuracy score
score = metrics.accuracy_score(y_test,pred)
print(score)

# confusion matrix: cm
cm = metrics.confusion_matrix(y_test,pred,labels=['FAKE','REAL'])
print(cm)

0.893352462936394
[[ 865  143]
 [  80 1003]]

In [39]:
# naive bayes
nb_classifier = MultinomialNB()
#fit
nb_classifier.fit(tfidf_train,y_train)
#predict
pred = nb_classifier.predict(tfidf_test)

# accuracy score
score = metrics.accuracy_score(y_test,pred)
print(score)

# confusion matrix: cm
cm = metrics.confusion_matrix(y_test,pred,labels=['FAKE','REAL'])
print(cm)

0.8565279770444764
[[ 739  269]
 [  31 1052]]

### Imrpoving the model
Try a range of alphas on the tfidf vect to see if improves scoring

In [45]:
#complains if starting value is zero 
alphas = np.arange(0.00001,1,0.1)

# Define train_and_predict()
def train_and_predict(alpha):
    nb_classifier = MultinomialNB(alpha)
    nb_classifier.fit(tfidf_train,y_train)
    pred = nb_classifier.predict(tfidf_test)
    score = metrics.accuracy_score(y_test,pred)
    return score

# Iterate over the alphas and print the corresponding score
for alpha in alphas:
    print('Alpha: ', alpha)
    print('Score: ', train_and_predict(alpha))
    print()

Alpha:  1e-05
Score:  0.8981348637015782

Alpha:  0.10001
Score:  0.8976566236250598

Alpha:  0.20001000000000002
Score:  0.8938307030129125

Alpha:  0.30001000000000005
Score:  0.8900047824007652

Alpha:  0.40001000000000003
Score:  0.8857006217120995

Alpha:  0.50001
Score:  0.8842659014825442

Alpha:  0.60001
Score:  0.874701099952176

Alpha:  0.70001
Score:  0.8703969392635102

Alpha:  0.80001
Score:  0.8660927785748446

Alpha:  0.90001
Score:  0.8589191774270684

### Inspecting the model
Look at the actual words learned by mapping the important vectors back to words

In [46]:
# Get the class labels: class_labels
class_labels = nb_classifier.classes_

In [49]:
# Extract the features
feature_names = tfidf_vectorizer.get_feature_names()
feature_names[:5]

['00', '000', '0000', '00000031', '000035']

In [50]:
# Zip the feature names together with the coefficient array and sort by weights
feat_with_weights = sorted(zip(nb_classifier.coef_[0], feature_names))

In [52]:
feat_with_weights[:5]

[(-11.316312804238807, '0000'),
 (-11.316312804238807, '000035'),
 (-11.316312804238807, '0001'),
 (-11.316312804238807, '0001pt'),
 (-11.316312804238807, '000km')]

In [55]:
# Print the first class label and the top 20 feat_with_weights entries
print(class_labels[0], feat_with_weights[:20])

FAKE [(-11.316312804238807, '0000'), (-11.316312804238807, '000035'), (-11.316312804238807, '0001'), (-11.316312804238807, '0001pt'), (-11.316312804238807, '000km'), (-11.316312804238807, '0011'), (-11.316312804238807, '006s'), (-11.316312804238807, '007'), (-11.316312804238807, '007s'), (-11.316312804238807, '008s'), (-11.316312804238807, '0099'), (-11.316312804238807, '00am'), (-11.316312804238807, '00p'), (-11.316312804238807, '00pm'), (-11.316312804238807, '014'), (-11.316312804238807, '015'), (-11.316312804238807, '018'), (-11.316312804238807, '01am'), (-11.316312804238807, '020'), (-11.316312804238807, '023')]

In [54]:
# Print the second class label and the bottom 20 feat_with_weights entries
print(class_labels[1], feat_with_weights[-20:])

REAL [(-7.742481952533027, 'states'), (-7.717550034444668, 'rubio'), (-7.703583809227384, 'voters'), (-7.654774992495461, 'house'), (-7.649398936153309, 'republicans'), (-7.6246184189367, 'bush'), (-7.616556675728882, 'percent'), (-7.545789237823644, 'people'), (-7.516447881078008, 'new'), (-7.448027933291952, 'party'), (-7.4111484102034755, 'cruz'), (-7.410910239085596, 'state'), (-7.35748985914622, 'republican'), (-7.33649923948987, 'campaign'), (-7.2854057032685775, 'president'), (-7.2166878130917755, 'sanders'), (-7.108263114902301, 'obama'), (-6.72477133248804, 'clinton'), (-6.565395438992684, 'said'), (-6.328486029596207, 'trump')]